@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0px;
}

:root {
    --background-red: #690B22;
    --background-red-light: #9C3D49;
    --background-ligh: #EEEEEE;
    --background-white: #FFFFFF;
    --background-dark: #424242;
    --background-deactivated: #C4C4C4;

    --primary: #690B22;
    --primary-light: #9C3D49;
    --primary-dark: #3B0000;

    --secondary: #EEEEEE;
    --secondary-light: #FFFFFF;
    --secondary-dark: #BCBCBC;

    --text-dark: #424242;
    --text-light: #EEEEEE;
    --text-deactivated: #767676;
    --text-green: #4CAF50;
    --text-red: #F44336;



    --border-radius-button: 40px;
    --border-radius-form: 5px;
    --border-radius-tile: 15px;

    --button-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);
    --tile-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

/*
    Fonts
*/
html, button {
    font-family: 'Poppins', 'Roboto', 'Open Sans', sans-serif;
    font-style: normal;
}

h1 {
    font-size: 31px;
    font-weight: 800;
    line-height: 200px;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 54px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
}

h4 {
    font-size: 22px;
    font-weight: 200;
    line-height: 36px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
}

h6 {
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
}

p, a, li, button, form input {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
}

/*Media query*/
@media screen and (min-width: 480px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    p, a, li, button, form input {
        font-size: 16px;
    }
}

input {
    background-color: var(--background-ligh);
}

body {
    background-color: var(--background-ligh);
}

.mainContent {
    display: flex;
    justify-content: space-around;
}

header {
    background-color: var(--background-red);
    color: var(--text-light);
    padding: 2%;
    display: flex;
    position: sticky;
    top: 0;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    height: 5%;
    min-height: 60px;
}

header h1 {
    height: 50px;
    text-align: center;
    width: 90%;
    line-height: 50px;
}

header button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: var(--background-ligh);
    color: var(--text-dark);
    margin: auto;
}

body nav {
    background: var(--background-red);
    padding-bottom: 5%;
    width: 100%;
}

a {
    text-decoration: none;
}

body > nav > section {
    text-align: right;
    margin-right: 5%;
    top: 10px;
    text-decoration: none;
}

body > nav ul {
    width: 95%;
    padding: 0;
    margin-left: 5%;
}

body nav ul li, input[type = button], input[type = submit], button, a.button {
    text-transform: uppercase;
}

body nav ul li {
    list-style-type: none;
}

body nav ul li a, body nav h2, body nav p, body nav img {
    color: var(--text-light);
    text-decoration: none;
    text-align: right;
}

body nav img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
    margin: auto 2% auto 1%;
    float: right;
}

div.utilityBar{
    background-color: var(--background-red-light);
    color: var(--text-light);
    vertical-align: middle;
}

div.titleBar{
    display: flex;
    position: relative;
    justify-content: space-between;
}

div.utilityBar ul {
    list-style-type: none;
    text-align: left;
    padding-left: 5%;
}

div.titleBar h2 {
    text-align: left;
    padding-left: 5%;
    width: 100%;
    margin: auto 0;
}

div.titleBar #filterDropdown {
    margin: 8px;
    width: 150px;
    vertical-align: middle;
    float: right;
    background-color: transparent;
    color: var(--text-light);
    border: 2px solid;
    border-color: var(--background-ligh);
}

div.utilityBar section {
    padding-bottom: 2%;
}

button#addNewColaborator {
    margin-bottom: 5%;
    display: block;
}
