section.articoli > h3, section.riepilogoOrdine > h3 {
    padding: 2% 0 0 5%;
    width: 90%;
    display: block;
}

.riepilogoOrdine {
    display: flex;
    justify-content: center;
}

.articoli {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.riepilogoOrdine button {
    margin-bottom: 5%;
}

section.articoli, section.riepilogoOrdine {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

section.riepilogoOrdine .tile.riepilogo{
    width: 90%;
    margin: 1% auto;
}

section.riepilogoOrdine ul {
    width: 90%;
    margin: 1% auto;
}

div.quantity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 60%;
}

div.quantity input {
    max-width: 30%;
    width: auto;
    height: auto;
    background-color: transparent;
    color: var(--text-dark);
    text-align: center;
    vertical-align: middle;
    border: none;
}

p.tileImportantInfo {
    margin-right: 5px;
}

section.articoli .tileContent {
    padding: 0;
}
