form * {
    outline: none;
}

form:not(.filter) {
    background-color: var(--background-dark);
    color: var(--text-light);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
}

form:not(.filter) ul li {
    list-style: none;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
}

form:not(.filter) ul, form fieldset ul{
    width: 80%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input, select {
    background-color: var(--secondary);
    color: var(--text-dark);
    border-radius: var(--border-radius-form);
    border: none;
}

form input, select {
    width: 100%;
    height: 30px;
}

form input[type = checkbox], form input[type = radio] {
    width: 20px;
    height: 20px;
}

form input[type = password] {
    letter-spacing: 0.3em;
}

form input :disabled{
    background-color: var(--text-deactivated);
    color: var(--text-dark);
}

form input[type = submit], input[type = button], button, a.button{
    height: 50px;
    width: 200px;
    background-color: var(--background-ligh);
    color: var(--text-dark);
    border-radius: var(--border-radius-button);
    box-shadow: var(--button-shadow);
    margin-top: 5%;
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

form input[type = submit]{
    min-width: 200px;
    display: inline-block;
}

form fieldset {
    width: 100%;
    padding: 0;
    margin: 8% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
}

form textarea {
    resize: vertical;
    width: 100%;
    border-radius: var(--border-radius-form);
}

form fieldset.payment {
    flex-direction: column;
}

form fieldset legend {
    padding-left: 5%;
}

form fieldset input[type = radio] {
    margin: 0 2% 0 10%;
}

form.filter fieldset input[type = radio] {
    margin: 0 2% 0 1%;
}

form.filter fieldset {
    display: block;
}

form.filter {
    padding-left: 5%;
    align-content: center;
    padding-bottom: 5%;
    background-color: var(--background-red-light);
    display: inline-block;
}

input.unmatch {
    box-shadow: 0 0 5px 2px var(--text-red) ;
}

form input:hover, button:hover, a.button:hover{
    transform: scale(1.02);
}

input:active, button:active, a.button:active{
    box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
}

/*********************************************************/
/***************newWineLabel section**********************/
/*********************************************************/

form.newWineLabel fieldset {
    margin: 2% 0px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3px;
}
form.newWineLabel fieldset * {
    display: block;
    margin: 0px;
    padding: 0px;
}
form.newWineLabel fieldset legend {
    line-height: 10px;
    grid-column: span 12;
}

form.newWineLabel fieldset label {
    grid-column: span 5;
}

/*********************************************************/
/****************editProduct section**********************/
/*********************************************************/

form.editProduct fieldset.modify {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    border-radius: var(--border-radius-form);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3px;
}
form.editProduct fieldset.modify p {
    grid-column: span 6;
    text-align: left;
    text-decoration: underline;
}
/* label catalog*/
form.editProduct fieldset.modify label:first-of-type{
    grid-column: span 5;
}
/* input checkbox*/
form.editProduct fieldset.modify input[type = checkbox]{
    height: 24px;
    width: 24px;
    grid-column: span 1;
    margin: auto 0px 0px auto;
}
/* label price */
form.editProduct fieldset.modify label:nth-of-type(2) {
    grid-column: span 2;
}
/* input price */
form.editProduct fieldset.modify input[type=number] {
    grid-column: span 4;
    padding: 0px;
    width: 100%;
}
/* label Photo */
form.editProduct fieldset.modify label:nth-of-type(3) {
    grid-column: span 6;
}
/* input photo */
form.editProduct fieldset.modify input[type = file] {
    grid-column: span 6;
    width: 100%;
    text-transform: inherit;
}

/* cancel button */
form.editProduct input.cancel {
    background-color: var(--background-dark);
    border: 1px solid var(--text-light);
    color: var(--text-light);
}

/*********************************************************/
/****************wineDetails section**********************/
/*********************************************************/

div.details form.newReview {
    box-sizing: border-box;
    width: 88%;
    margin: 2% 6% 6% 6%;
    padding: 3%;
    text-align: left;
}

div.details form.quantityToOrder {
    box-sizing: border-box;
    background-color: inherit;
    max-width: 300px;
    width: 88%;
    margin: 0px auto;
    padding: 3% 0%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

div.details form.quantityToOrder label {
    grid-column: span 3;
    color: var(--text-dark);
}

div.details form.quantityToOrder input[type = number] {
    grid-column: span 2;
    background-color: var(--secondary-dark);
}

div.details form.quantityToOrder input[type = submit] {
    grid-column: span 5;
   /* width: 80%;*/
}

/*///////////////////////////////////////////////////////*/

form.singleButtonForm {
    background-color: transparent;
}

form.checkout ul {
    margin-bottom: 10%;
}

form.loginForm > ul > p {
    margin-top: 4%;
}

form.loginForm > ul > p > a {
    color: var(--text-light);
}

form fieldset.privateOrBusiness legend{
    padding: 0;
    margin-bottom: 2%;
}

form fieldset.privateOrBusiness input[type = radio]{
    padding: 0;
    margin: 0 1% 0 10%;
}

form fieldset.privateOrBusiness input[type = radio]:first-of-type {
    margin-left: 0;
}

@media screen and (min-width: 480px) {
    form:not(.filter) {
        width: 90%;
        padding: 0 5% 5% 5%;
    }

    ul {
        width: 100%;
    }

    form.newReview ul {
        width: 100%;
    }

    form.newReview ul li {
        width: 100%;
    }

    form.newReview input[type = submit] {
        width: 100%;
        min-width: inherit;
    }

    form:not(.filter) ul li {
        width: 70%;
        max-width: 400px;
        margin-top: 15px;
        display: flex;
    }

    form.newWineLabel fieldset label {
        grid-column: span 3;
    }
}

@media screen and (min-width: 800px) {
    form:not(.filter) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    form.checkout ul {
        margin-top: 3%;
        margin-bottom: 10%;
    }

}
