.mainContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

a.tileLink {
    min-height: 100px;
    width: 94%;
    margin: 2% auto;
    display: flex;
}

.tile, .orderDetails {
    min-height: 100px;
    width: 94vw;
    margin: 2% auto;
    background-color: var(--background-white);
    box-shadow: var(--tile-shadow);
    border-radius: var(--border-radius-tile);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tile.etichetta {
    justify-content: flex-start;
}

.tileContent {
    padding: 0.5% 2%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    color: var(--text-dark);
}

.tile.etichetta .tileContent, .tile.magazzino .tileContent, .tile.riepilogo .tileContent {
    width: 100%;
    margin-left: 2%;
}

.tileContent h3, .tileContent h4, .tile.magazzino > p, .tile.magazzino h4, .tile.riepilogo h4, .tile.riepilogo p:last-of-type {
    display: flex;
    font-size: 19px;;
    font-weight: bold;
    line-height: 24px;
    text-overflow: clip;
}

.tileContent h4, .tile.riepilogo p:last-child {
    font-weight: 300;
}

 .tileContent p:not(.tileImportantInfo) {
    line-height: 20px;
    font-size: 14px;
 }

 .tileImportantInfo {
    font-size: 19px;
    font-weight: bolder;
 }

.tileFooter {
    display: flex;
    justify-content: space-between;
}

.tile.etichetta .tileFooter {
    justify-content: flex-end;
}

.tileImg {
    border-radius: 15px 0px 0px 15px;
    max-height: 100px;;
    max-width: 20%;
    object-fit: cover;
}

.tile.collaboratore .tileImg {
    max-width: 30%;
    max-height: 100px;
    height: 80px;
    width: 75px;
    border-radius: 50%;
    vertical-align: middle;
    margin: auto 2% auto 1%;
}

.tile.collaboratore .tileContent {
    height: 100px;
    width: 70%;
}

.tile.magazzino, .tile.riepilogo {
    min-height: 80px;
    height: 80px;
}

.tile.magazzino .tileContent > p {
    padding-right: 10%;
}

.tile.magazzino > p {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
}

/*
.tile.magazzino > p, .tile.riepilogo p {
    padding: 3% 3% 0 0;
}*/

.tile.deactivated, .tile.etichetta.deactivated {
    background-color: var(--background-deactivated);
    color: var(--text-deactivated);
    box-shadow: none;
}

.tile.deactivated img {
    filter: saturate(0) opacity(40%);
}

.tile.deactivated .tileContent, .tile.etichetta.deactivated .tileContent {
    color: var(--text-deactivated);
}

.mainContent.notice {
  align-items: baseline;
}

.tile.notice > .tileContent {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'type   date'
        'lorem  lorem'
        'button   button';
}

.tile.notice > .tileContent > h3 {
    grid-area: type;
    margin-top: auto;
    padding-top: 3px;
    text-align: left;
}

.tile.notice > .tileContent > p:first-of-type {
    grid-area:  date;
    box-sizing: border-box;
    text-align: right;
    margin-top: auto;
    padding-right: 5px;
}

.tile.notice > .tileContent > p:last-of-type {
    padding-top: 5px;
    padding-bottom: 5px;
    grid-area: lorem;
    width: 100%;
    min-height: 40px;
    border-top: 1px solid black;
}

.tile.notice > .tileContent > button {
    grid-area: button;
    height: 30px;
    margin: auto 0px 10px auto;
}

.tile.cart.product .tileImg {
    max-width: 100%;
    width: 100%;
    width: 100%;
}

a.tileLink {
    width: auto;
    margin: 1%;
    text-decoration: none;
}

@media screen and (min-width: 480px) {

    .tile {
        width: 400px;
        margin: 1% 1%;
    }
}
